Source: bidict
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Python Team <team+python@tracker.debian.org>
XSBC-Pexip-Original-Uploaders: William Grzybowski <william@grzy.org>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3-all,
               python3-setuptools,
               python3-setuptools-scm,
               python3-sphinx,
               python3-sphinx-autodoc-typehints,
# tests
               python3-hypothesis,
               python3-pytest,
               python3-pytest-benchmark,
               python3-sortedcollections,
               python3-sortedcontainers
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://bidict.readthedocs.io
Vcs-Browser: https://salsa.debian.org/python-team/packages/bidict
Vcs-Git: https://salsa.debian.org/python-team/packages/bidict.git
Testsuite: autopkgtest-pkg-python
XS-Pexip-Upstream: http://ftp.debian.org/debian/ bullseye

Package: python3-bidict
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Bidirectional map data structures and related functionality
 Features:
  - has carefully designed APIs for safety, simplicity, flexibility,
    and ergonomics
  - has extensive test coverage (including property-based tests and benchmarks)
    run continuously on all supported Python versions and OSes
  - integrates natively with Python’s collections interfaces
  - is implemented in concise, well-factored, well-documented pure Python that
    leverages a number of advanced language features
